.pagination {
  margin-top: 32px;

  @include media-breakpoint-down(md) {
    margin-top: 0;
  }

  nav {
    ul.pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        &:before {
          content: none;
        }

        a {
          background: none;
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          color: $secondary-color;
          padding: 0;
          border: 0;
          box-shadow: none;
          outline: none;
          letter-spacing: normal;
          &:hover {
            color: $gray-color-3;

            svg {
              path {
                stroke: $gray-color-3;
              }
            }
          }
        }

        &.prev {
          margin-right: 36px;
          @include media-breakpoint-down(md) {
            margin-right: 10px;
          }

          a {
            svg,
            img {
              margin-right: 8px;
            }
          }
        }

        &.next {
          margin-left: 36px;
          @include media-breakpoint-down(md) {
            margin-left: 10px;
          }

          a {
            svg,
            img {
              margin-left: 8px;
            }
          }
        }

        &.active {
          a {
            color: $gray-color-3;
          }
        }

        &.page-item {
          a {
            height: 40px;
            width: 40px;
            display: inline-block;
            margin: 0 1px;
            text-align: center;
            line-height: 40px;
            border: 0;
            @include media-breakpoint-down(md) {
              height: 30px;
              width: 30px;
              line-height: 30px;
            }
            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
}
