{% extends "layout.html" %}

{% block style %}
  <link rel="stylesheet" href="css/home.css" media="all"/>
{% endblock %}

{% block content %}
<!-- Header: commented from loading -->
{# {{nav.active('home')}} #}

<main role="main">
  <div class="img-preload d-none">
    <img fetchpriority="high" src="img/proceduresdrag/0001.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0002.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0003.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0004.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0005.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0006.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0007.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0008.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0009.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0010.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0011.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0012.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0013.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0014.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0015.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0016.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0017.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0018.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0019.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0020.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0021.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0022.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0023.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0024.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0025.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0026.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0027.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0028.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0029.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0030.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0031.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0032.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0033.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0034.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0035.jpg" alt="preload image" height="800" width="1440" class="d-none" />
    <img fetchpriority="high" src="img/proceduresdrag/0036.jpg" alt="preload image" height="800" width="1440" class="d-none" />
  </div>

  <section class="procedure-hero d-flex flex-column">
    <div class="container">
      <div class="row" id="viewProcedure">
        <div class="col-lg-6 position-relative d-flex align-items-center rotate-view">
            <button class="btn btn-outline-primary prev-btn" id="btnRotateBody"><svg class="bi" aria-hidden="true"><use xlink:href="#rotate"></use></svg> Rotate</button>

            <div class="drag-container body-viewer">

              <!-- <img src="img/0.gif" style="background-image: url('img/activepartsdrag/arms-front-active.jpg');" alt="active parts" height="743" width="855" class="active-parts" id="activeParts" /> -->

              <ul class="list-unstyled m-0 dots front-dots">
                <li class="open-trtment-modal" data-target="treatmentModal1" title="Abdomen"></li>
                <li class="open-trtment-modal" data-target="treatmentModal2" data-src="img/active-parts/arms-front-active.jpg" title="Arms & Shoulder">
                  <img src="img/activepartsdrag/arms-front-left.svg" alt="active parts" height="64" width="102" class="active-parts1" />
                </li>
                <li class="open-trtment-modal" data-target="treatmentModal2" data-src="img/active-parts/arms-front-active.jpg" title="Arms & Shoulder"></li>
                <li class="open-trtment-modal" data-target="treatmentModal3" title="Chest"></li>
                <li class="open-trtment-modal" data-target="treatmentModal3" title="Chest"></li>
                <li class="open-trtment-modal" data-target="treatmentModal4" title="Chin"></li>
                <li class="open-trtment-modal" data-target="treatmentModal5" title="Neck"></li>
                <li class="open-trtment-modal" data-target="treatmentModal6" title="Flanks / Love Handles"></li>
                <li class="open-trtment-modal" data-target="treatmentModal6" title="Flanks / Love Handles"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal9" title="leg"></li>
                <li class="open-trtment-modal" data-target="treatmentModal9" title="leg"></li>
              </ul>

              <ul class="list-unstyled m-0 dots left-dots invisible">
                <li class="open-trtment-modal" data-target="treatmentModal4"  data-video="img/spinning-man.mp4" title="Chin"></li>
                <li class="open-trtment-modal" data-target="treatmentModal5" data-video="img/spinning-man.mp4" title="Neck"></li>
                <li class="open-trtment-modal" data-target="treatmentModal2" data-video="img/spinning-man.mp4" title="Arms & Shoulder"></li>
                <li class="open-trtment-modal" data-target="treatmentModal3" data-video="img/spinning-man.mp4" title="Chest"></li>
                <li class="open-trtment-modal" data-target="treatmentModal6" data-video="img/spinning-man.mp4" title="Flanks / Love Handles"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" data-video="img/spinning-man.mp4" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal9" data-video="img/spinning-man.mp4" title="Leg"></li>
              </ul>

              <ul class="list-unstyled m-0 dots back-dots invisible">
                <li class="open-trtment-modal" data-target="treatmentModal5" data-video="img/spinning-man.mp4" title="Neck"></li>
                <li class="open-trtment-modal" data-target="treatmentModal2" data-video="img/spinning-man.mp4" title="Arms & Shoulder"></li>
                <li class="open-trtment-modal" data-target="treatmentModal2" data-video="img/spinning-man.mp4" title="Arms & Shoulder"></li>
                <li class="open-trtment-modal" data-target="treatmentModal6" data-video="img/spinning-man.mp4" title="Flanks / Love Handles"></li>
                <li class="open-trtment-modal" data-target="treatmentModal6" data-video="img/spinning-man.mp4" title="Flanks / Love Handles"></li>
                <li class="open-trtment-modal" data-target="treatmentModal8"  data-video="img/spinning-man.mp4" title="Lower Back"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" data-video="img/spinning-man.mp4" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" data-video="img/spinning-man.mp4" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" data-video="img/spinning-man.mp4" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" data-video="img/spinning-man.mp4" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal9" data-video="img/spinning-man.mp4" title="Leg"></li>
                <li class="open-trtment-modal" data-target="treatmentModal9" data-video="img/spinning-man.mp4" title="Leg"></li>
              </ul>

              <ul class="list-unstyled m-0 dots right-dots invisible">
                <li class="open-trtment-modal" data-target="treatmentModal5"  data-video="img/spinning-man.mp4" title="Neck"></li>
                <li class="open-trtment-modal" data-target="treatmentModal2" data-video="img/spinning-man.mp4" title="Arms & Shoulder"></li>
                <li class="open-trtment-modal" data-target="treatmentModal6" data-video="img/spinning-man.mp4" title="Flanks / Love Handles"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" data-video="img/spinning-man.mp4" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal7" data-video="img/spinning-man.mp4" title="Hips"></li>
                <li class="open-trtment-modal" data-target="treatmentModal9" data-video="img/spinning-man.mp4" title="Leg"></li>
              </ul>
            </div>
        </div>

        <div class="col-lg-6">
          <div class="position-relative">
          <div class="hero-box">
            <h1>Procedures</h1>
            <p>Click directly on the body to highlight a treatment area, or choose from the list below to begin customizing your procedure.</p>
            <ul class="list-unstyled text-16 treatment-list">
              <li>
                <a href="#" class="open-trtment-modal" data-target="treatmentModal1">Abdomen <svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg></a>
                <div class="text-16 treatment-modal" id="treatmentModal1">
                  <button class="close-modal"><svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg> Back</button>
                  <h2>Abdomen</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, eos adipisci! Unde nesciunt accusantium, ipsa cumque natus repellendus quasi autem, qui ipsum tenetur architecto! Beatae eum repellat deserunt autem odit?</p>
                </div>
              </li>
              <li>
                <a href="#" class="open-trtment-modal" data-target="treatmentModal2" data-src="img/active-parts/arms-front-active.jpg">Arms & Shoulder <svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg></a>
                <div class="text-16 treatment-modal" id="treatmentModal2">
                  <button class="close-modal"><svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg> Back</button>
                  <h2>Arms & Shoulders</h2>
                  <p>This area targets excess fat in the upper arms and along the shoulder line, helping create a more toned and balanced appearance. Many patients seek arm contouring to reduce the look of “bat wings” or bulging in sleeveless clothing. Liposuction here enhances definition and creates a smoother, more sculpted transition from shoulder to elbow. It’s an ideal option for those looking to achieve a leaner, more refined upper body silhouette.</p>
                </div>
              </li>
              <li>
                <a href="#" class="open-trtment-modal" data-target="treatmentModal3">Chest <svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg></a>
                <div class="text-16 treatment-modal" id="treatmentModal3">
                  <button class="close-modal"><svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg> Back</button>
                  <h2>Chest</h2>
                  <p>This area targets excess fat in the upper arms and along the shoulder line, helping create a more toned and balanced appearance. Many patients seek arm contouring to reduce the look of “bat wings” or bulging in sleeveless clothing. Liposuction here enhances definition and creates a smoother, more sculpted transition from shoulder to elbow. It’s an ideal option for those looking to achieve a leaner, more refined upper body silhouette.</p>
                </div>
              </li>
              <li>
                <a href="#" class="open-trtment-modal" data-target="treatmentModal4">Chin <svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg></a>
                <div class="text-16 treatment-modal" id="treatmentModal4">
                  <button class="close-modal"><svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg> Back</button>
                  <h2>Chin</h2>
                  <p>This area targets excess fat in the upper arms and along the shoulder line, helping create a more toned and balanced appearance. Many patients seek arm contouring to reduce the look of “bat wings” or bulging in sleeveless clothing. Liposuction here enhances definition and creates a smoother, more sculpted transition from shoulder to elbow. It’s an ideal option for those looking to achieve a leaner, more refined upper body silhouette.</p>
                </div>
              </li>
              <li>
                <a href="#" class="open-trtment-modal" data-target="treatmentModal6">Flanks / Love Handles <svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg></a>
                <div class="text-16 treatment-modal" id="treatmentModal6">
                  <button class="close-modal"><svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg> Back</button>
                  <h2>Flanks / Love Handles</h2>
                  <p>This area targets excess fat in the upper arms and along the shoulder line, helping create a more toned and balanced appearance. Many patients seek arm contouring to reduce the look of “bat wings” or bulging in sleeveless clothing. Liposuction here enhances definition and creates a smoother, more sculpted transition from shoulder to elbow. It’s an ideal option for those looking to achieve a leaner, more refined upper body silhouette.</p>
                </div>
              </li>
              <li>
                <a href="#" class="open-trtment-modal" data-target="treatmentModal7">Hips <svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg></a>
                <div class="text-16 treatment-modal" id="treatmentModal7">
                  <button class="close-modal"><svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg> Back</button>
                  <h2>Hips</h2>
                  <p>This area targets excess fat in the upper arms and along the shoulder line, helping create a more toned and balanced appearance. Many patients seek arm contouring to reduce the look of “bat wings” or bulging in sleeveless clothing. Liposuction here enhances definition and creates a smoother, more sculpted transition from shoulder to elbow. It’s an ideal option for those looking to achieve a leaner, more refined upper body silhouette.</p>
                </div>
              </li>
              <li>
                <a href="#" class="open-trtment-modal" data-target="treatmentModal8">Lower Back <svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg></a>
                <div class="text-16 treatment-modal" id="treatmentModal8">
                  <button class="close-modal"><svg class="bi" aria-hidden="true"><use xlink:href="#rightChev"></use></svg> Back</button>
                  <h2>Lower Back</h2>
                  <p>This area targets excess fat in the upper arms and along the shoulder line, helping create a more toned and balanced appearance. Many patients seek arm contouring to reduce the look of “bat wings” or bulging in sleeveless clothing. Liposuction here enhances definition and creates a smoother, more sculpted transition from shoulder to elbow. It’s an ideal option for those looking to achieve a leaner, more refined upper body silhouette.</p>
                </div>
              </li>
              
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}

{% block script %}
  <script defer src="js/procedures.min.js"></script>
{% endblock %}