footer {
  background: $secondary-color;
  display: block;
  float: left;
  width: 100%;
  color: $color-white;
  .footer-top {
    padding: 77px 0 53px;
    @include media-breakpoint-down(xl) {
        padding: 40px 0;
    }
    .footer-logo {
      margin-right: 72px;
      img {
        max-width: 98px;
        display: block;
      }
    }
    .footer-links {
      margin: 0;
      li {
        margin: 0 44px 0 0;
        @include media-breakpoint-down(lg) {
            margin-right: 25px;
        }
        @include media-breakpoint-down(md) {
            width: 50%;
            margin: 0 0 10px 0;
        }
        a {
          color: $color-white;
          font-size: 20px;
          background: none;
          font-weight: 500;
          line-height: 32px;
          letter-spacing: -0.312px;
          text-decoration: none;
          display: block;
          &:hover {
            opacity: 0.5;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .social-links {
      li {
        margin: 0 28px 0 0;
        a {
          display: block;
          background: none;
          line-height: 0;
          img {
            max-width: 20px;
            transition: all 0.4s ease;
            opacity: 0.5;
          }
          &:hover {
            img {
              opacity: 1;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .footer-bottom {
    color: $gray-color-5;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 32px 0 8px;
    @include media-breakpoint-down(xl) {
        padding: 24px 0 0;
    }
    @include media-breakpoint-down(md){
        padding-top: 16px;
    }
    a {
      color: $gray-color-5;
      text-decoration: none;
      background: none;
      &:hover {
        opacity: 0.5;
      }
    }
    ul {
      li {
        margin: 0 24px 0 0;
        @include media-breakpoint-down(md){
            margin-right: 20px;
        }
        a {
          color: $color-white;
          &:hover{
            text-decoration: none;
            opacity: 0.5;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
