<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-9 d-flex flex-wrap">
                    <div class="footer-logo mb-4">
                        <a href="javascript:;"><img src="img/footer-logo.svg" alt="Logo"
                            class="img-fluid"
                            width="98" height="48"></a>
                    </div>
                    <ul
                        class="footer-links list-unstyled d-flex flex-wrap align-items-center mb-4">
                        <li><a href="javascript:;">Attorneys</a></li>
                        <li><a href="javascript:;">Practices</a></li>
                        <li><a href="javascript:;">News</a></li>
                        <li><a href="javascript:;">The Firm</a></li>
                        <li><a href="javascript:;">Careers</a></li>
                        <li><a href="javascript:;">Locations</a></li>
                    </ul>
                </div>
                <div class="col-xl-3">
                    <ul class="social-links list-unstyled d-flex flex-wrap align-items-center justify-content-lg-end mb-0 mb-lg-4">
                        <li><a aria-label="opens in a new window" target="_blank" rel="noopener" href="javascript:;"> <img src="img/icon-linkedin.svg"
                                    alt="Linkedin Icon" class="img-fluid" width="20" height="20"></a></li>
                        <li><a aria-label="opens in a new window" target="_blank" rel="noopener"
                                href="javascript:;"> <img src="img/icon-tw.svg"
                                    alt="Twitter Icon" class="img-fluid"
                                    width="20" height="20"></a></li>
                        <li><a aria-label="opens in a new window"
                                target="_blank" rel="noopener"
                                href="javascript:;"> <img src="img/icon-fb.svg"
                                    alt="Facebook Icon" class="img-fluid"
                                    width="20" height="20"></a></li>
                        <li><a aria-label="opens in a new window"
                                target="_blank" rel="noopener"
                                href="javascript:;"> <img src="img/icon-YT.svg"
                                    alt="Youtube Icon" class="img-fluid"
                                    width="20" height="20"></a></li>
                        <li><a aria-label="opens in a new window"
                                target="_blank" rel="noopener"
                                href="javascript:;"> <img src="img/icon-ig.svg"
                                    alt="Instagram Icon" class="img-fluid"
                                    width="20" height="20"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 d-flex flex-wrap mb-4 text-14">
                    <p>All Rights Reserved © 2021 Quinn Emanuel Urquhart &
                        Sullivan, LLP. Attorney advertising. Design by <a
                            aria-label="opens in a new window" target="_blank"
                            rel="noopener"
                            href="https://www.spinxdigital.com">SPINX
                            Digital</a>
                        Attorney advertising. Prior results do not guarantee
                        similar outcome. Amounts listed may be aggregates.</p>
                </div>
                <div class="col-lg-5">
                    <ul class="list-unstyled d-flex flex-wrap align-items-center text-14 justify-content-lg-end mb-3 mb-md-4">
                        <li><a href="javascript:;">Privacy</a></li>
                        <li><a href="javascript:;">Terms</a></li>
                        <li><a href="javascript:;">Do Not Sell My Information</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
